{% extends "layouts/main.html" %}

{% set pageName = "What type of passport do you have?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["passport-type"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["passport-type"], href: "#passport-type" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "passport-type",
      fieldset: {
        legend: {
          text: "What type of passport do you have?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: errors["passport-type"] if errors else null,
      value: data["passport-type"],
      items: [
        { value: "adult", text: "Adult passport" },
        { value: "child", text: "Child passport" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
